.text-base-color {
  color: $base-text-color;
}

.text-light {
  color: $light;
}

.text-white {
  color: $white;
}

.text-grey {
  color: $grey;
}

.text-black {
  color: $black;
}

.text-dark {
  color: $dark;
}

.text-primary {
  color: $primary;
}

.bg-color-black {
  background-color: $black;
}

.bg-color-light {
  background-color: $light;
}

.bg-color-white {
  background-color: $white;
}
