.font-thin {
  font-weight: $font-thin;
}

.font-extra-light {
  font-weight: $font-extra-light;
}

.font-light {
  font-weight: $font-light;
}

.font-normal {
  font-weight: $font-normal;
}

.font-medium {
  font-weight: $font-medium;
}

.font-semibold {
  font-weight: $font-semibold;
}

.font-bold {
  font-weight: $font-bold;
}

.font-black {
  font-weight: $font-black;
}
