.section-who-teach {
  padding: 40px 0;

  @media (min-width: $tablet) {
    padding: 80px 0;
  }

  @media (min-width: $widescreen_md) {
    padding: 160px 0 170px;
  }

  & &__heading {
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      margin-bottom: 60px;
    }

    @media (min-width: $widescreen_md) {
      margin-bottom: 104px;
    }
  }

  & &__body {
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  & &__text-content {
    margin-bottom: 54px;

    @media (min-width: $tablet) {
      max-width: 812px;
      width: 100%;
    }
  }

  & &__teacher-name {
    font-family: $font-family-base;
    font-size: $font-size-xxxl;
    margin-bottom: 70px;
  }

  & &__image {
    @media (max-width: $tablet_max) {
      display: none;
    }

    @media (min-width: $tablet) {
      margin-left: 20px;
    }

    @media (min-width: $widescreen_md) {
      position: relative;
      right: -100px;
    }
  }
}
