.section-blog {
  padding: 40px 0 80px;

  @media (min-width: $tablet) {
    padding: 80px 0;
  }

  @media (min-width: $widescreen) {
    padding: 120px 0 202px;
  }

  & &__heading {
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      margin-bottom: 80px;
    }

    @media (min-width: $widescreen) {
      margin-bottom: 148px;
    }
  }
}
