.section-article-info {
  padding: 40px 0;

  @media (min-width: $tablet) {
    padding: 80px 0;
  }

  @media (min-width: $widescreen) {
    padding: 100px 0 36px;
  }

  & &__heading {
    letter-spacing: 1px;
    margin-bottom: 10px;
    line-height: 1.5;
    max-width: 922px;
    width: 100%;
  }

  & &__date {
    font-family: $headings-font-family;
    font-size: $font-size-sm;
    margin-bottom: 30px;

    @media (min-width: $widescreen) {
      margin-bottom: 60px;
    }
  }

  & &__image {
    margin-bottom: 30px;
    max-width: 448px;

    @media (min-width: $widescreen) {
      margin-bottom: 96px;
      max-width: 848px;
    }
  }

  & &__large-text {
    font-size: $font-size-md;
    font-weight: $font-medium;
    font-family: $headings-font-family;
    margin-bottom: 58px;
    line-height: 1.35;
  }

  & &__text-content {
    h5 {
      margin-bottom: 30px;
    }

    p {
      line-height: 1.6;
    }
  }

  &__text-content-item {
    &:not(:last-child) {
      margin-bottom: 40px;

      @media (min-width: $widescreen) {
        margin-bottom: 90px;
      }
    }
  }
}
