.section-faq {
  padding: 40px 0;

  @media (min-width: $tablet) {
    padding: 80px 0;
  }

  @media (min-width: $widescreen) {
    padding: 144px 0;
  }

  & &__heading-content {
  }

  & &__body {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  & &__heading {
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      margin-bottom: 40px;
    }

    @media (min-width: $widescreen) {
      margin-bottom: 120px;
    }
  }

  & &__text-content {
    margin-bottom: 20px;
    width: 100%;

    @media (min-width: $tablet) {
      flex: 1 0 60%;
      margin-right: 20px;
    }

    @media (min-width: $widescreen) {
      max-width: 558px;
      margin-right: 32px;
    }

    h3 {
      font-family: $font-family-base;
      font-weight: $font-medium;
      margin-bottom: 20px;

      @media (min-width: $widescreen) {
        font-size: $font-size-xxxl;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 20px;

        @media (min-width: $widescreen) {
          margin-bottom: 50px;
        }
      }
    }

    strong {
      font-weight: $font-medium;
    }
  }

  & &__image {
    @media (max-width: $widescreen_max) {
      max-width: 60%;
      width: 100%;
      margin: 0 auto;
    }

    @media (min-width: $widescreen) {
      max-width: 450px;
    }
  }
}
