.section-contact {
  padding: 40px 0 60px;

  @media (min-width: $tablet) {
    padding-bottom: 100px;
  }

  @media (min-width: $widescreen) {
    padding-bottom: 240px;
  }

  & &__container {
    max-width: 1180px;
  }

  & &__heading {
    margin-bottom: 30px;

    @media (min-width: $tablet) {
      margin-bottom: 100px;
    }

    @media (min-width: $widescreen) {
      margin-bottom: 140px;
    }
  }

  & &__body {
    position: relative;
    background-color: $light;
    padding: 40px 20px 10px;

    @media (min-width: $tablet) {
      padding: 80px 20px 20px;
    }

    @media (min-width: $widescreen) {
      padding: 120px 40px 60px;
    }

    &::before {
      content: '';
      @include absoluteCover;
      background-size: cover;
      background: url('/images/map.png');
      background-repeat: no-repeat;
    }
  }

  & &__body-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & &__address,
  & &__link {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-medium;
    text-transform: uppercase;
    max-width: 300px;
    width: 100%;
    margin: 0 auto 20px;

    @media (min-width: $tablet) {
      font-size: $font-size-md;
    }

    @media (min-width: $tablet_lg) {
      max-width: 260px;
    }
  }

  & &__link {
    max-width: 300px;
    width: 100%;
    color: $black;
    word-break: break-all;
  }

  & &__image-map {
    position: relative;
    padding-top: 50%;

    @media (min-width: $tablet) {
      padding-top: 23%;
    }

    iframe {
      @include absoluteCover;
    }
  }
}
