.section-related-posts {
  padding-top: 40px;

  @media (min-width: $tablet) {
    padding-top: 80px;
  }

  @media (min-width: $widescreen_md) {
    padding-top: 160px;
  }

  & &__heading {
    margin-bottom: 20px;
    letter-spacing: 1px;

    @media (min-width: $tablet) {
      margin-bottom: 40px;
    }

    @media (min-width: $widescreen_md) {
      margin-bottom: 100px;
    }
  }
}
