.section-format-lessons {
  padding: 40px 0;
  color: $black;
  background-color: transparent;

  @media (min-width: $tablet) {
    padding: 80px 0;
  }

  @media (min-width: $widescreen_md) {
    padding: 132px 0;
  }

  &.section-format-lessons--dark {
    background-color: $black;
  }

  &.section-format-lessons--dark &__heading-content {
    color: $light;
    background-color: $black;
  }

  & &__heading-content {
    max-width: 586px;
    width: 100%;
    margin: 0 auto 26px;
    color: $black;

    @media (min-width: $tablet) {
      margin: 0 auto 80px;
    }

    @media (min-width: $widescreen_md) {
      margin: 0 auto 174px;
    }
  }

  & &__heading {
    margin-bottom: 26px;
  }

  & &__subheading-text {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    strong {
      color: $gold;
    }

    em {
      font-weight: $font-bold;
    }
  }
}
