.schedule-lesson {
  width: 100%;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    display: flex;
    margin-bottom: 50px;
  }

  @media (min-width: $widescreen) {
    margin-bottom: 78px;
  }

  & &__body {
    position: relative;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    overflow: hidden;

    @media (min-width: $tablet) {
      margin-bottom: 0;
      flex: 1 0 450px;
      margin-right: 40px;
    }

    @media (min-width: $tablet_lg) {
      flex: 0 1 750px;
    }

    @media (min-width: $widescreen) {
      margin-right: 120px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 380px;
      z-index: 1;
      background-image: url('/images/yellow-shadow-1.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-10%);
      @include animate(opacity visibility transform);

      @media (max-width: $tablet_max) {
        display: none;
      }
    }

    &::after {
      content: '';
      @include absoluteCover;
      background: url('/images/cource-description.png');
      background-size: cover;
    }

    &:hover::before {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  & &__body-container {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;

    @media (min-width: $phone_md) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
    }

    @media (min-width: $tablet) {
      padding: 40px 26px 40px;
    }

    @media (min-width: $widescreen) {
      padding: 60px 96px 40px;
      justify-content: space-between;
    }
  }

  & &__left {
    @media (min-width: $phone_md) {
      max-width: 200px;
      width: 100%;
      margin-right: 20px;
    }

    @media (min-width: $tablet_lg) {
      margin-right: 40px;
    }

    @media (min-width: $widescreen) {
      margin-right: 114px;
    }
  }

  & &__right {
    text-align: center;

    @media (min-width: $phone_md) {
      max-width: 240px;
      width: 100%;
    }
  }

  & &__heading {
    color: #151618;
    font-family: $font-family-base;
    font-size: $font-size-xxxl;
    font-style: italic;
    line-height: normal;
    margin-bottom: 0;
  }

  & &__subheading {
    color: rgba($black, 0.5);
    margin-bottom: 44px;
  }

  & &__date {
    font-family: $headings-font-family;
    font-size: $font-size-xl;
    font-style: italic;

    @media (min-width: $widescreen) {
      font-size: $font-size-xxxl;
    }
  }

  & &__days {
    font-family: $headings-font-family;
    font-style: italic;

    @media (min-width: $widescreen) {
      font-size: $font-size-md;
    }
  }
  & &__list-info {
    @include listreset;
    margin-bottom: 28px;

    li {
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
  & &__registration-count {
    font-size: $font-size-xs;
  }

  & &__action {
    text-align: center;

    @media (min-width: $tablet) {
      flex: 1;
      padding-top: 30px;
    }

    @media (min-width: $widescreen) {
      padding-top: 70px;
    }
  }
}
