.social-list {
  @include listreset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  & &__link {
    color: $light;
    font-size: 26px;

    @include animate(color);

    &:hover {
      color: $primary;
      opacity: 1;
    }
  }
}
