@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin fillBlockAbsolute {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@mixin bare-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin defaultList {
  list-style: revert;
  padding: revert;
  margin: revert;
}

@mixin listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin aspectRatioImage {
  display: block;
  position: relative;
  padding-top: 75.18%;
  width: 100%;
  height: 0;
  overflow: hidden;
}

@mixin aspectRatioImageWide {
  display: block;
  position: relative;
  padding-top: 66%;
  width: 100%;
  height: 0;
  overflow: hidden;
}

@mixin aspectRatioImageSquare {
  display: block;
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;
}

@mixin coverImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

@mixin containImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  font-family: 'object-fit: contain';
}

@mixin absoluteCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
